<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angularjs</title>
</head>

<body ng-app="app">
	
	<div ng-controller="HelloCtrl">

		<input type="text" ng-model="content">
		<input type="text" ng-model="content">
		<span>{{content}}</span>

		<button ng-click="callAlertButtonClick()">Click Me</button>

	</div>

	<div ng-controller="WorldCtrl">

		<input type="text" ng-model="content">
		<input type="text" ng-model="content">
		<span>{{content}}</span>

	</div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js">
	</script>
	<script type="text/javascript" src="js/app.js"></script>

</body>

</html>